includes:
    - vendor/deployer/deployer/phpstan.neon

parameters:
    level: 5
    paths:
        - src/
        - recipe/
    ignoreErrors:
        - message: '#.*#'
          path: vendor/deployer/deployer/
    reportUnmatchedIgnoredErrors: false